#container {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
  "warning warning"
  "board stats";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

#game-board {
  align-items: center;
  display: grid;
  grid-area: board;
  grid-column-gap: 0px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: minmax(100px, auto);
}

#stat-board {
  grid-area: stats;
}

#warning {
  grid-area: warning;
}

.bingoPix {
  border: .1rem solid black;
  height: 150px;
  width: 150px;
}

.bingoPix:hover {
  background-color: yellow;
}

.correct {
  background-color: green;
}

.wrong {
  background-color: red;
}

#bingo-table {
  /* width: 500px; */
  /* border: .1rem solid blue; */
}

#audio,
#score-col {
  /* border: .1px solid blue; */
}

/* Modal */
/* The Modal (background) */
.modal {
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   display: none; /* Hidden by default */
   height: 100%; /* Full height */
   left: 0;
   overflow: auto; /* Enable scroll if needed */
   position: fixed; /* Stay in place */
   top: 0;
   width: 100%; /* Full width */
   z-index: 1; /* Sit on top */
}

/* Modal Content/Box */
.modal-content {
   background-color: #fefefe;
   border: 1px solid #888;
   margin: 15% auto; /* 15% from the top and centered */
   padding: 20px;
   width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close:hover,
.close:focus {
   color: black;
   cursor: pointer;
   text-decoration: none;
} 